@import "tailwindcss";

body {
  background-color: #0f0f0f;
  color: #ffffff;
}

@theme {
  --color-gold: #f59e0b;
  --color-gold-light: #fbbf24;
  --color-gold-dark: #d97706;
  --color-dark: #0f0f0f;
  --color-dark-card: #1a1a1a;
  --color-dark-border: #222222;
  --color-dark-muted: #888888;
}
